<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0; i < todos.length; i++){ %>
        <div style="background: rgb(233, 166, 166); padding: 10px; margin: 10px 0;">
            <p class="mb-2"> title: <%= todos[i].title %> </p>
            <p class="mb-2"> content: <%= todos[i].content %> </p>
            <p class="mb-2"> dueDate: <%= todos[i].dueDate %></p>
            <p class="mb-2"> date: <%= todos[i].date %> </p>
        </div>
    <% } %>
</body>
</html>

